body, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 320px;
  padding: 40px 0;
  text-align: center;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", serif;
  color: white;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-image: url("../images/background.jpg");
}

#avatar {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  box-shadow: 2px 2px 2px #333333;
}

p {
  font-size: 24px;
  text-align: center;
  margin: 0px;
}


#name {
  font-size: 80px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.04em;
  text-shadow: 3px 3px 3px #333333;
}

.letter-spacing-1 {
  letter-spacing: -0.01em;
}

.letter-spacing-2 {
  letter-spacing: -0.025em;
}

#description {
  text-shadow: 2px 2px 2px #222222;
}

.fa-container {
  font-size: 2rem;
  color: #fff;
}

.fas, .fab {
  text-shadow: 2px 2px 2px #222222;
}

ul {
  list-style: none;
  margin: 30px auto;
  padding: 0 10px;
}

li {
  font-size: 28px;
  display: inline;
  padding: 0 20px;
}

.icon {
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: #9FFCDF;
}

#location {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: bottom;
  text-shadow: 1px 1px 1px black;
}

#pin {
  height: 32px;
  margin-right: 10px;
  vertical-align: bottom;
}

#quote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 20px;
}

#quote-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2fcfe;
  /* background-color: lightcyan; */
  background-blend-mode: overlay;
  opacity: 0.7;
  border-radius: 30px;
  box-shadow: 4px 4px 4px #333333;
  font-family: "Hoefler Text", "Garamond", "Constantia", "Palatino", "Times", serif;
}

#quote-line {
  display: flex;
  flex-direction: row;
  align-items: bottom;
}

#open-quote {
  display: inline-block;
  color: black;
  margin-right: 6px;
  font-size: 60px;
  line-height: 1.0;
  vertical-align: bottom;
}

#close-quote {
  display: inline-block;
  text-align: right;
  height: 10px;
  color: black;
  font-style: normal;
  font-size: 60px;
  margin-top: 20px;
  padding-left: 10px;
  line-height: 0.4;
}

#quote {
  display: inline-block;
  max-width: 550px;
  vertical-align: middle;
  margin-top: 15px;
  padding: 2px;
  color: black;
  text-align: left;
  font-size: 28px;
  font-style: italic;
  letter-spacing: 0.02em;
}

#citation {
  display: block;
  margin: 20px 20px 0px 0px;
  font-size: 22px;
  text-align: right;
  color: black;
}

@media (max-width: 600px) {
  #avatar {
    width: 120px;
    height: 120px;
  }

  #name {
    font-size: 60px;
    text-shadow: 3px 3px 3px #333333;
  }

  #description {
    font-size: 18px;
  }

  .fa-container {
    font-size: 1.5rem;
  }

  ul {
    padding: 0 5px;
    margin: 20px auto;
  }

  li {
    font-size: 24px;
    padding: 0 15px;
  }

  .icon {
    height: 26px;
  }

  #quote-container {
    margin: 30px 15px;
  }

  #quote-block {
    padding: 15px;
  }

  #open-quote {
    font-size: 36px;
  }

  #close-quote {
    font-size: 36px;
    /* padding-left: 6px; */
    /* height: 20px; */
    line-height: 0.0;
  }

  #quote {
    font-size: 24px;
  }

  #citation {
    font-size: 18px;
  }
}
