/* Four-column Portfolio Showcase */
/* (5 × 32) + (4 × 320) = 1440px */
body, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 320px;
  text-align: center;
  font-family: Segoe UI, Avenir, Helvetica, -apple-system, BlinkMacSystemFont, Arial, san-serif;
  font-weight: normal;
  color: white;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("../images/background.jpg");
}

.top-half {
  padding: 40px 0 20px 0;
}

#avatar {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  box-shadow: 2px 2px 2px #333333;
}

#name {
  font-size: 90px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: -0.04em;
  text-shadow: 3px 3px 3px #333333;
}

.letter-spacing-1 {
  letter-spacing: -0.01em;
}

.letter-spacing-2 {
  letter-spacing: -0.025em;
}

#description {
  font-size: 24px;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 2px #222222;
}

.fa-container {
  font-size: 2rem;
  color: #fff;
}

.fa-container .fas, .fa-container .fab {
  text-shadow: 2px 2px 2px #222222;
}

ul {
  list-style: none;
  margin: 30px auto;
  padding: 0 10px;
}

li {
  font-size: 28px;
  display: inline;
  padding: 0 20px;
}

.icon {
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: #9FFCDF;
}

#location {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: bottom;
  text-shadow: 1px 1px 1px black;
}

#pin {
  height: 32px;
  margin-right: 10px;
  vertical-align: bottom;
}

#quote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 20px;
}

#quote-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /*background-color: rgba(242, 252, 254, 0.65);*/
  /*background-color: rgba(255, 255, 255, 0.64);*/
  background-color: rgba(236, 233, 230, 0.64);
  background-blend-mode: overlay;
  border-radius: 30px;
  box-shadow: 4px 4px 4px #333333;
  font-family: Hoefler Text, Garamond, Constantia, Palatino, Times, serif;
}

#quote-line {
  display: flex;
  flex-direction: row;
  align-items: bottom;
}

#open-quote {
  display: inline-block;
  padding-top: 6px;
  padding-left: 8px;
  color: black;
  margin-right: 6px;
  font-size: 60px;
  line-height: 1.0;
  vertical-align: bottom;
}

#close-quote-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

#close-quote {
  display: inline-block;
  padding-right: 8px;
  text-align: right;
  color: black;
  font-style: normal;
  font-size: 60px;
  line-height: 0;
}

#quote {
  display: inline-block;
  max-width: 400px;
  vertical-align: middle;
  margin: 10px 10px 4px 10px;
  padding: 2px;
  color: black;
  line-height: 1.3;
  text-align: justify-all;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 0.02em;
}

#citation {
  display: block;
  margin: 18px 10px 0 0;
  font-size: 22px;
  text-align: right;
  color: black;
}

.portfolio-header {
  margin: 5rem 0 1rem 0;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 2px #222222;
}

.portfolio {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(236, 233, 230, 0.8), rgba(255, 255, 255, 0.95));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(236, 233, 230, 0.8), rgba(255, 255, 255, 0.95)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  padding: 1rem 2rem 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 0.8rem;
  grid-column-gap: 2rem;
  grid-template-areas:
    "title-1 title-2 title-3 title-4"
    "picture-1 picture-2 picture-3 picture-4"
    "links-1 links-2 links-3 links-4"
    "writeup-1 writeup-2 writeup-3 writeup-4"
    "techstack-1 techstack-2 techstack-3 techstack-4";
}

.title {
  align-items: center;
}

h3 {
  display: inline-block;
  margin: 1rem 0 0 0;
}

.project {
  width: 100%;
}

.writeup p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  text-align: justify;
}

.links {
  display: inline-block;
}

.links a {
  font-size: 1.2rem;
}

.links a .fas, .links a .fab {
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 0.4rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.techstack {
  text-align: left;
}

.title-1 { grid-area: title-1; }
.title-2 { grid-area: title-2; }
.title-3 { grid-area: title-3; }
.title-4 { grid-area: title-4; }
.picture-1 { grid-area: picture-1; }
.picture-2 { grid-area: picture-2; }
.picture-3 { grid-area: picture-3; }
.picture-4 { grid-area: picture-4; }
.writeup-1 { grid-area: writeup-1; }
.writeup-2 { grid-area: writeup-2; }
.writeup-3 { grid-area: writeup-3; }
.writeup-4 { grid-area: writeup-4; }
.techstack-1 { grid-area: techstack-1; }
.techstack-2 { grid-area: techstack-2; }
.techstack-3 { grid-area: techstack-3; }
.techstack-4 { grid-area: techstack-4; }

.pill {
  display: inline-block;
  line-height: 0.8rem;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem 0.08rem;
  border-radius: 5rem;
  color: #EEEEEE;
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Two-column maximum width: 1184px */
/* (5 × 32) + (4 × 256) = 1184px */
@media (max-width: 1184px) {
  .portfolio {
    padding: 1rem 2rem 4rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-row-gap: 0.8rem;
    grid-column-gap: 2rem;
    grid-template-areas:
      "title-1 title-2"
      "picture-1 picture-2"
      "links-1 links-2"
      "writeup-1 writeup-2"
      "techstack-1 techstack-2"
      "title-3 title-4"
      "picture-3 picture-4"
      "links-3 links-4"
      "writeup-3 writeup-4"
      "techstack-3 techstack-4";
  } 
}

/* One-column maximum width: 608px */
/* (3 × 32) + (2 × 256) = 608px */
@media (max-width: 608px) {
  body {
    background: none;
  }

  .top-half {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url("../images/background.jpg");
  }
  #avatar {
    width: 120px;
    height: 120px;
  }

  #name {
    font-size: 60px;
    text-shadow: 3px 3px 3px #333333;
  }

  #description {
    font-size: 20px;
  }

  .fa-container {
    font-size: 1.5rem;
  }

  ul {
    padding: 0 5px;
    margin: 20px auto;
  }

  li {
    font-size: 24px;
    padding: 0 15px;
  }

  .icon {
    height: 26px;
  }

  #quote-container {
    margin: 30px 15px;
  }

  #quote-block {
    padding: 15px;
  }

  #open-quote {
    font-size: 48px;
  }

  #close-quote-container {

  }

  #close-quote {
    font-size: 48px;
    line-height: 0.0;
  }

  #quote {
    font-size: 26px;
  }

  #citation {
    font-size: 18px;
  }

  .portfolio {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(236, 233, 230, 0.8), rgba(255, 255, 255, 0.95));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgba(236, 233, 230, 0.8), rgba(255, 255, 255, 0.95)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, auto);
    grid-row-gap: 0.8rem;
    grid-column-gap: 2rem;
    grid-template-areas:
      "title-1"
      "picture-1"
      "links-1"
      "writeup-1"
      "techstack-1"
      "title-2"
      "picture-2"
      "links-2"
      "writeup-2"
      "techstack-2"
      "title-3"
      "picture-3"
      "links-3"
      "writeup-3"
      "techstack-3"
      "title-4"
      "picture-4"
      "links-4"
      "writeup-4"
      "techstack-4";
  }
}
